[mysqld]
character-set-server=utf8
explicit-defaults-for-timestamp=1
general-log=1
general-log-file=./docker/mysql/log/mysqld.log # ログの出力先

[mysql]
default-character-set=utf8

[client]
default-character-set=utf8